<<<<<<< HEAD
/*.book-btn a {   css for Link to tag*/
    /* color: whitesmoke; */
/* }

.book-btn a:link{
    background-color: red;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
  }
  
 .book-btn a:hover, a:active {
    background-color:red;
    color:black;
  }

.book h1{       
    text-align: center;
    padding-top: 20px;
    font-size: 45px;
}


.form-area{
  width:50%;
  padding-top: 70px;
  border: 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formbg{
  
} */
=======
>>>>>>> 6fd0c442198e196cd6c815abd0217c012cf8998f
