body{
  background-color: transparent;
  background-image: url("../Images/background.jpg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.582)), url("../Images/background.jpg");
}
.txt{
    /* background-color: rgb(255, 145, 0); */
    display: flex;
    text-decoration: none;
    background-color: transparent;
   
}
.txt img{
  width: 150px;
}

.nav_b, a{
    text-decoration: none;
    display: flex;
    color: rgba(93, 22, 207, 0);
   
    font-family:Arial, Helvetica, sans-serif ; 
    padding: 0px 15px;

}

.nav_b a:hover {
    color: rgba(224, 2, 39, 0);
    text-decoration: none;
    display: flex;
    
    padding: 0px 15px;
}
.nav_b ul li a{
    display: flex;
    justify-content: center;
}


.txt {
  margin-left: -13px;
    width:100%;
  margin-top: -7.8px;
  background-color: #7c7c7c0e;
  color: #ec131300; 
  padding: 10px; 
  text-align: center; 
}

h2 {
    
  margin-bottom: 10px; 
}

.nav_b {
    
  list-style: none; 
  padding: 0;
  display: flex;
  justify-content: center; 
}

.nav_b li {
    
  margin: 0 10px; 
}

.nav_b a {
    padding: 0px 15px;
  text-decoration: none;
  color: #ffffff; 
  font-weight: bold; 
  font-size: 16px; 
  transition: color 0.3s ease;
}

.nav_b a:hover {
    padding: 0px 15px;
  color: #3c94e7; 
}
.dropdown:hover .dropdowncontent{
    display: block;
  }
  .dropdowncontent a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 0px 16px;
    text-decoration: none;
  
  }

  .dropdowncontent {
    
    display: none;
    position: absolute;
    background-color: #ffffff25;
  }
  .line{
    background-color: #000000;
    height: 5px;
  }
  